
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <form action="#" method="post">
        @Html.ValidationSummary(true)
        <div class="pom-agile">
            <input placeholder="Họ và Tên" name="ten" class="pass" type="text" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
        </div>
        <div class="pom-agile">
            <input placeholder="sdt" name="sdt" class="pass" type="text" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
        </div>
        <div class="pom-agile">
            <input placeholder="Password" name="pass" class="pass" type="password" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
        </div>
        <div class="pom-agile">
            <input placeholder="Confirm Password" name="ConfirmPass" class="pass" type="password" required="">
            <h4 style="background-color: red; border-radius: 20%; font: inherit;"> @ViewData["error"]</h4>
            <span class="icon2"><i aria-hidden="true"></i></span>
        </div>
       
        <div class="pom-agile">
            <input placeholder="Ngày Sinh" name="Date" class="pass" type="date" required="">
            <span class="icon2"><i aria-hidden="true"></i></span>
        </div>
        <div class="sub-w3l">
            <div class="right-w3l">
                <input class="submit" type="Submit" value="Sign Up">
            </div>
        </div>
    </form>
}

